@media only screen and (max-width: 780px) {
  #sidebar, .row, .projtoggle, #experience {
    display: none;
  }
  main {
    margin: 20px;
  }
  main #pdfSkills, main #pdfTitle {
    display: inline-block;
  }
  main #pdfTitle {
    margin: 0;
    text-align: center; /* Center titles */
  }
  main #pdfTitle h2, main #pdfTitle h3 {
    font-size: 1.7em;
    margin: 10px 2px 4px;
    text-align: center; /* Center titles */
  }
  main #pdfTitle h3 {
    font-size: 0.8em;
    margin: 2px;
  }
  main h1, main #sidebar h3, #sidebar main h3 {
    margin-top: 5px;
    padding-top: 0;
    text-align: center; /* Center titles */
  }
  #animation {
    width: 60%;
  }
  #summary {
    padding-top: 0;
  }
  #summary h1, #summary #sidebar h3, #sidebar #summary h3 {
    margin-top: 0;
    text-align: center; /* Center titles */
  }
  .mobile-icon {
    width: 5%;
  }
  #pdfSkills b {
    font-weight: bolder;
    color: #188355;
  }
}
